.signUpList {
background-image: url("/images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.stepNumber {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bfe2fd;
  color: #02295a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}