.mobileOnly {
 display: none;

 @media (max-width: 768px) {
  display: block;
 }

}

.desktopOnly {
  display: block;
  padding: var(--spacing-sm);
 
 @media (max-width: 768px) {
  display: none;
 }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  min-height: calc(100vh - var(--spacing-lg));
}

.gridItem {
  padding: var(--spacing-sm);
  display: flex;
}